  
  <header class="full-width">
    <div class="container">
      <div class="row">
        <div class="logo-holder col-xs-7 col-sm-6">
          <h1>my facebook pages</h1>
        </div>
        <div class="header-right col-xs-5 col-sm-6">
          <a href=""><img src="/app/fba/123.png" alt=""></a>          
          <p>User1</p>
        </div>
      </div>
    </div>
  </header>


<div id="full-screen-popup"  [ngClass]="displayClass" >
  <div class="inner-holder" [ngStyle]="{'top': top + '%'}">

  
  <div *ngIf="appState == 'default'"  >
    <!--<h3>add account</h3>-->


    <div class="container-fluid">

      <form #f="ngForm" novalidate (ngSubmit)="addNewFaceBookAccount(f.value, f.valid)">
        <div class="form-group">
          <!--<label for="">title</label>-->
          <input type="text" placeholder="title*" class="form-control" name="title" [ngModel]="user.title" 
            required minlength="5" maxlength="30" #title="ngModel">
          <small [hidden]="title.valid || (title.pristine && !f.submitted)" class="text-danger">
            title is required (minimum 5 characters).
          </small>
          <!--<pre *ngIf="usertitle.errors" class="margin-20">{{ usertitle.errors | json }}</pre>-->
        </div>    
        <div class="form-group">
          <!--<label for="">Username</label>-->
          <input type="text" placeholder="Facebook Page Name/ID*" class="form-control" name="username" [ngModel]="user.username" 
            required minlength="5" maxlength="20" #username="ngModel">
          <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
            Username is required (minimum 5 characters).
          </small>
          <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
        </div>
        <div class="form-group">
          <!--<label for="">phone</label>-->
          <input type="text" placeholder="Phone*" class="form-control" name="phone" [ngModel]="user.phone" 
            required  pattern="[0-9]+"  #phone="ngModel">
          <small [hidden]="phone.valid || (phone.pristine && !f.submitted)" class="text-danger">
            phone is required 0-9 numbers.
          </small>
          <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
        </div>
        <div class="form-group">
          <!--<label for="">Email</label>-->
          <input type="email" placeholder="Email*" class="form-control" name="email" [ngModel]="user.email" 
            required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
          <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
            Email is required and format should be <i>john@doe.com</i>.
          </small>
          <!--<pre *ngIf="email.errors" class="margin-20">{{ email.errors | json }}</pre>-->
        </div>

        <div class="popup-buttons-holder text-right">
          <a  class="btn btn-default cancel"  (click)="closePopUp()">Cancel</a>       
          <button type="submit" class="btn btn-default submit">Save</button>
        </div>

        
      </form>
    </div>



  </div>

  <div *ngIf="appState == 'edit'" >
    <!--<h3>edit account</h3>-->


    <div class="container-fluid">

      <form #f="ngForm" novalidate (ngSubmit)="updateFaceBookAccount(f.value, f.valid)">
        <div class="form-group">
          <!--<label for="">title</label>-->
          <input type="text" placeholder="title*" class="form-control" name="title" [ngModel]="user.title" 
            required minlength="5" maxlength="30" #title="ngModel">
          <small [hidden]="title.valid || (title.pristine && !f.submitted)" class="text-danger">
            title is required (minimum 5 characters).
          </small>
          <!--<pre *ngIf="usertitle.errors" class="margin-20">{{ usertitle.errors | json }}</pre>-->
        </div>    
        <div class="form-group">
          <!--<label for="">Username</label>-->
          <input type="text" placeholder="Facebook Page Name/ID*" class="form-control" name="username" [ngModel]="user.username" 
            required minlength="5" maxlength="20" #username="ngModel">
          <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
            Username is required (minimum 5 characters).
          </small>
          <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
        </div>

        <div class="form-group">
          <!--<label for="">phone</label>-->
          <input type="text" placeholder="Phone*" class="form-control" name="phone" [ngModel]="user.phone" 
            required  pattern="[0-9]+"  #phone="ngModel">
          <small [hidden]="phone.valid || (phone.pristine && !f.submitted)" class="text-danger">
            phone is required 0-9 numbers.
          </small>
          <!--<pre *ngIf="username.errors" class="margin-20">{{ username.errors | json }}</pre>-->
        </div>

        <div class="form-group">
          <!--<label for="">Email</label>-->
          <input type="email" placeholder="Email*" class="form-control" name="email" [ngModel]="user.email" 
            required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
          <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
            Email is required and format should be <i>john@doe.com</i>.
          </small>
          <!--<pre *ngIf="email.errors" class="margin-20">{{ email.errors | json }}</pre>-->
        </div>

        <div class="popup-buttons-holder text-right">
          <a  class="btn btn-default cancel"  (click)="closePopUp()">Cancel</a>       
          <button type="submit" class="btn btn-default submit">Save</button>
        </div>
        
      </form>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <ul class="full-width fbas-holder">
        <li *ngFor="let fba of fbas" >
            <div class="content-holder">
              
              <h3 >{{fba.title}}</h3> 
              <p> {{fba.username}} </p> 
              <p>{{fba.phone}}</p>  
              <p>{{fba.email}}</p> 
              <h3>LIKES:11,000</h3>
            </div>
            
            <div class="buttons-holder">
              <button (click)="delFaceBookAccount(fba.title)">DELETE</button>
              <button (click)="editFacebookAccount(fba)" > EDIT</button> 
              
            </div>
            
        </li>
      </ul>      
    </div>
  </div>
</div>


<button class="add-account" (click)="initPopUpWindow('default')" >
   <i class="zmdi zmdi-plus"></i>
</button>