.full-width {
    float:left;
    width:100%;
}
ul {
    padding:0;
    margin:0;
    list-style: none;
}

header {
    background-color: #3b579d;
    padding-bottom:5px;
}

header h1 {
    font-size: 18px;
    color:rgba(255,255,255,.8);
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
}

.header-right {
    padding-top: 10px;
}

.header-right p,
.header-right a {
    float: right;
    padding:10px;
}
.header-right p {
    font-size: 18px;
    margin:0;
    
    color: rgba(255,255,255,.8);  
}

.header-right a {
    background-color:transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;

}


.add-account {
    position: absolute;
    top: 80px;
    right: 15%;
    border:none;
    background-color: #3b579d;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
    outline: none;
}

ul.fbas-holder  {
    padding: 40px 0;
}

ul.fbas-holder li {
    display: inline-block;
    width: 100%;
    padding:15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(51,51,51,0.25);
    -moz-box-shadow: 0px 0px 15px 0px rgba(51,51,51,0.25);
    box-shadow: 0px 0px 15px 0px rgba(51,51,51,0.25);
    margin: 5px;
}

.content-holder {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}

.content-holder h3 {
    font-size: 15px;
    color: #5c5c5c;
    margin: 0;
    padding:5px 0; 
    display: inline-block; 
    font-weight: bold;
}
.content-holder p {
    font-size: 14px;
    color: #c0c0c0;
    display: inline-block;
    margin:0;
    width: 100%;

}

.buttons-holder {
    float: left;
    margin-top: 10px;
    text-align: right;
    width: 100%;

}

.buttons-holder button {
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    border:none;
    color:#5c5c5c;
    font-weight: bold;
}

#full-screen-popup {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;
    display: inline-block;
    visibility: hidden;
  
}
#full-screen-popup.show {
    visibility: visible;
}

.inner-holder {
    width: 300px;
    display: inline-block;
    background-color: #fff;
    padding:20px;
    position: absolute;
    left: 50%;
   -webkit-transform: translate(-50%, -30%);
   -moz-transform: translate(-50%, -30%); 
   -ms-transform: translate(-50%, -30%); 
   -o-transform: translate(-50%, -30%); 
   transform: translate(-50%, -30%);      
   -webkit-transition: 0.4s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  transition: 0.2s linear;
 
}

.show .inner-holder {
    -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);   
}
.form-group {
    margin-bottom: 3px;
}
.form-control {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;

}

.popup-buttons-holder {
    width: 100%;
    text-align: right;
}
.popup-buttons-holder a,
.popup-buttons-holder button {
    display: inline-block;
    border:none;
    font-size: 14px;
    color: #5c5c5c;
    font-weight: bold;
    text-transform: uppercase;
}